.form {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  margin: auto;
}
.form > * {
  margin-top: 1rem;
}

.input {
  padding: 0.5rem 1rem;
}

.invalid {
  background-color: rgba(255, 0, 0, 0.427);
}
div {
  padding-left: 12px;
  text-align: left;
}
div > p {
  display: inline;
}
label{
  text-align: center;
}